body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.main{
    
}

.top-menu {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-menu li {
  display: inline;
  margin-right: 10px;
  
}
.top-menu li :hover{
  background-color: #555;
  color: #fff;
}