:root{
    --background-color: #282a36;
    --titlebar-color: #44475a;
    --text-color: #f8f8f2;
}
*{
    font-family: 'Fira Code';
    color: var(--text-color);}

body{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    
}

h1{
    font-size: 300%;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h2{
    font-size: 150%;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}